<!DOCTYPE html>
<html>
<head>
	<title>Voire un potin</title>
</head>
<body style="background: rgba(255, 0, 0, 0.3);">
	<div style="margin: auto; padding-bottom: 10px; text-align: center; border: solid 5px; border-radius: 10px; width: 400px; background: rgba(255, 0, 0, 0.1);">
			<h1>Page potin</h1>
					<% i = i.to_i %>
					<% i += 1 %>
			<p><strong>Voici le potin numero <%= i %></strong></p>
			<p><strong>Son auteur : <%= gossip[0]%></strong></p>
			<p style="background: #FFFFFF; width: 300px;margin: auto auto 5px auto; border: 1px solid; border-radius: 10px">
				<strong>Son contenu : </br> <%= gossip[1]%>
				
				</strong>
			</p>
			<a href="/gossips/new/" style="text-decoration: none; font-size: 20px; font-style: italic;">Revenir a la page des potins ?</a>
	</div>
</body>
</html>